# Dependabot configuration
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates

version: 2
updates:
  # Docker dependencies
  - package-ecosystem: "docker"
    directory: "/angie"
    schedule:
      interval: "weekly"
      day: "monday"
    commit-message:
      prefix: "docker"
    labels:
      - "dependencies"
      - "docker"
    open-pull-requests-limit: 5

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "ci"
    open-pull-requests-limit: 5
